.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a{
    position: absolute;
    margin-top: 300px;
}
.block{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 10px;
    border: solid;
    animation: rotation 10s linear;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
        background-color: blueviolet;
    }
    12.5%{
        transform: rotate(45deg);
        background-color: green;
    }
    25%{
        transform: rotate(90deg);
        background-color: brown;
    }
    37.5%{
        transform: rotate(135deg);
        background-color: greenyellow;
    }
    50%{
        transform: rotate(180deg);
        background-color: gold;
    }
    62.5%{
        transform: rotate(225deg);
        background-color: red;
    }
    75%{
        transform: rotate(270deg);
        background-color: crimson;
    }
    87.5%{
        transform: rotate(315deg);
        background-color: chocolate;
    }
    100%{
        transform: rotate(360deg);
        background-color: blueviolet;
    }
}
/* @keyframes mudarCor {
    0%{
        background-color: blueviolet;
    }
    12.5%{
        background-color: green;
    }
    25%{
        background-color: brown;
    }
    37.5%{
        background-color: greenyellow;
    }
    50%{
        background-color: gold;
    }
    62.5%{
        background-color: ;
    }
    75%{
        background-color: green;;
    }
    87.5%{
        background-color: green;;
    }
    100%{
        background-color: green;;
    }
} */