.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container a{
    position: absolute;
    margin-top: 300px;
}
.block{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 100px;
    border: solid;
    animation: moveRight 4s linear forwards, bounce 0.8s ease-in-out 4;
}
@keyframes moveRight {
    0%{
        left: 0;
    }
    100%{
        left: calc(100% - 50px);
    }
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Sem movimento vertical */
    }
    50% {
      transform: translateY(-100px); /* Quica para cima */
    }
  }