.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a{
    position: absolute;
    margin-top: 300px;
}
.block{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 10px;
    border: solid;
    animation: rotation 3s linear forwards;
}
@keyframes rotation {
    100%{
        transform: rotate(45deg);
    }
}