.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a{
    position: absolute;
    margin-top: 300px;
}
.block{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 10px;
    border: solid;
    transition: width 1s, height 1s; 
}
.block:hover{
    width: 200px;
    height: 100px;
    border-radius: 10px;
}